body {
    background-color:#191d21;
    color:#d3d3d3;
}
.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    text-align:right;
}
a {
    color:#adadad;
    text-decoration: none;
}
a:hover {
	color: #878787;
	text-decoration: underline;
}
.nav-link:hover, .navbar-brand:hover {
    text-decoration: none;
}
.list-group-item {
    background-color: transparent;
}
.list-group-item-dark {
    color: #d3d3d3;
}
.urlpointer {
    cursor: pointer;
  }